<!DOCTYPE html>
<html>
<head>
  <title>Jagi</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% flash.each do |key, value| %>
  <%= content_tag(:div, value, class: "#{key}") %>
<% end %>

<% if current_user then %>
  <%= link_to_unless_current I18n.t('layouts.application.submit_profile'), new_user_profile_path %>
<% end %>

<%= yield %>

</body>
</html>
